/* Basic styling and reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

.navbar {
    background-color: #33333389;
    color: white;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1000;
    width: 100%;
}

.logo a {
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: bold;
}

.nav-links a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    margin-right: 15px;
}

.auth-buttons {
    display: flex;
}

button {
    background-color: #555;
    color: rgb(255, 255, 255);
    border: none;
    padding: 10px 15px;
    margin-left: 10px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #ff0000;
}

/* Hero Section */
.hero {
    background: url('coal-mining-bg.jpg') no-repeat center center/cover;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: rgb(0, 0, 0);
}

.hero h1 {
    font-size: 3rem;
    margin-bottom: 15px;
}

.hero p {
    font-size: 1.5rem;
}

/* Content Section */
.content-section {
    padding: 30px;
    background-color: #c4981e3f;
}

.content-section h2 {
    font-size: 2rem;
    margin-bottom: 15px;
}

.content-section p {
    font-size: 1.2rem;
    line-height: 1.7;
}

/* Footer */
footer {
    background-color: #333;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 15px;
    position: relative;
    bottom: 0;
    width: 100%;
}

.content-section{
    color: rgb(1, 1, 1);
    text-align: start;
    padding: 15px;
    position: relative;
    bottom: 0;
    width: 100%;
}

#new{
    height: 40px;
    padding: 50px 0px 30px 0px;
}

#intro{
    background-color: #c4981e32;
    height: 200px;
}

.data{
    background-color: rgba(255, 255, 255, 0.192);
}

#card{
    background-color: rgb(255, 255, 255);
    height: 200px;
}

.city-card-container {
    text-align: center;
    margin-top: 20px;
}

.city-card {
    background-color: #ffffff;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    display: inline-block;
    padding: 20px;
}

.city-card:focus,
.city-card:hover {
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
}
